<div class="row">
  <div class="col-12">
    <h2>Want more ?</h2>
  </div>
</div>

<div class="row d-flex" style="margin-top: 32px;">
  <div class="row col-12 d-flex wantMoreIcons">
    <div class="col-1">
      <a href="<%- parsed_bio.lien_cv %>" target="_blank">
        <img src="<%- parsed_setting_desc.icon_dl[0] %>">
      </a>
    </div>

    <div class="col-11 d-flex justify-content-start align-items-center">
      <p>Curriculum Vitae</p>
    </div>
  </div>
</div>
<div class="row d-flex">
  <div class="row col-12 d-flex wantMoreIcons">
    <div class="col-1">
      <a href="<%- parsed_bio.lien_book %>" target="_blank">
        <img src="<%- parsed_setting_desc.icon_dl[0] %>">
      </a>
    </div>
    <div class="col-11 d-flex justify-content-start align-items-center">
      <p>Portfolio</p>
    </div>
  </div>
</div>