<div class="wantMoreIcons" id="CV">
    <a href="<%- parsed_bio.lien_cv %>" target="_blank">
      <img src="https://www.mymagic.ch/wp-content/uploads/2020/09/download-logo-png-image-77292.png">
    </a>
    <p>Curriculum Vitae</p>
</div>
<div class="wantMoreIcons" id="portfolio">
    <a href="<%- parsed_bio.lien_book %>" target="_blank">
      <img src="https://www.mymagic.ch/wp-content/uploads/2020/09/download-logo-png-image-77292.png">
    </a>
    <p>Portfolio</p>
</div>


<style>
  .wantMoreIcons p{
      margin-top:20px;
      margin-left:50px;
  }
  .wantMoreIcons img{
      max-width:80px;
  }
  #mailInfo{
      display:flex;
      margin: 20px;
  }
  #linkedInInfo{
      display:flex;
      margin: 20px;
  }
  #instagramInfo{
      display:flex;
      margin: 20px;
  }
  #CV{
      display:flex;
  }
  #portfolio{
      display:flex;
  }
</style>
