<div id="header">
    <div id="logo">
        <a href="home"><img src="https://freesvg.org/img/circle-15.png"></a>
    </div>
    <div id="burgerMenu">
        <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"></a>
    </div>
</div>

<style>

    body{
        padding-top:50px;
    }

    #header{
        height:80px;
    }

    #logo{
        position:absolute;
        float:left;
        margin-left:15%;
    }

    #logo img{
        width:60px;
    }

    #burgerMenu{
        float:right;
        margin-right:15%;
    }
    
    #burgerMenu img{
        width:60px;
    }
    @media screen and (max-width:980px){

        #header {
            height: 160px;
        }

        #logo {
            margin-left: 32px;
        }

        #logo img {
            width: 120px;
            color: white;
        }

        #burgerMenu{
            float:right;
            margin-right:32px;
        }

        #burgerMenu img {
            width: 120px;
        }
    }
</style>
