<div id="header">
    <div id="logo">
        <a><img src="https://freesvg.org/img/circle-15.png"></a>
    </div>
    <div id="burgerMenu">
        <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"></a>
    </div>
</div>

<style>
    body{
        padding-top:50px;
        margin-left:15em;
    }
    #header{
        height:80px;
    }

    #logo{
        position:absolute;
        float:left;
        margin-left:15%;
    }
    #logo img{
        width:60px;
    }
    #burgerMenu{
        float:right;
        margin-right:15%;
    }
    #burgerMenu img{
        width:60px;
    }

</style>