*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
    font-family:  Helvetica, sans-serif;
		background-image: url("https://drive.google.com/uc?export=view&id=10tCDqJmhiakPj8jCXg3322jQh141JqCw");
		background-repeat: repeat-y;
		background-position: center;
    /* overflow-x: hidden; */
}



#gallery{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1 1 20%; */
    /* max-width: 1080px; */
    border: 1px solid black;
}

#gallery img{
    width: 20%;
    height: auto;
    display: block;
    max-width: 100%;
}

.project_title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#scriptTester {
    height: 200px;
    width: 200px;
}
