body{
    grid-template-rows: 0fr 0fr 1fr!important;
    color: var(--custom-p-color);
}
.aboutInfos-container{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    /* border: 1px solid green; */
}
