/******************** Artworks *******************/

#gallery{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1 1 20%; */
    /* max-width: 1080px; */
    border: 1px solid black;
}

#gallery img{
    width: 20%;
    height: auto;
    display: block;
}

.project_title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#gallery .galleryItem img{
    max-width: 336px;
    max-height: 336px;
    width: 100%;
    object-fit: cover;
}

.titleItem{
    width: 66%;
    height: 100%;
    align-self: center;
    /* border: 1px solid pink; */
}
.titleItem h2 span{
    padding: 0px 8px 4px 8px;
    /* background-color: white; */
}

.tag{
    width: fit-content;
    height: 16px;
    border: 1px solid black;
    margin: 4px;
    text-transform: uppercase;
}
