/******************** Artworks *******************/

/* body{
    grid-template-rows: 0fr 0fr 0fr 1fr;
 */


.project_title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.titleItem{
    width: 66%;
    height: 100%;
    align-self: center;
    /* border: 1px solid pink; */
}
.titleItem h2 span{
    padding: 0px 8px 4px 8px;
    /* background-color: white; */
}

@media screen and (max-width: 980px){
    .titleItem{
        width: 100%;
    }
    
}