body{
    grid-template-rows: 0fr 0fr 0fr 0fr 1fr !important; 
}

.socialMediaIcons img{
    width:50px;
}

#QRcode{
    width:400px;
    height: 400px;
    position: absolute;
    right: 20%;
    top: 25%;
}

#QRcode img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
.socials-container{
    margin: 32px 0;
}
.wantMoreIcons img{
    max-width:48px;
}
.mailInfo, .linkedInInfo, .instagramInfo{
    margin: 16px 0;
}

.portfolio-icon {
    margin-top: 16px!important;
}

@media (max-width: 1250px) {

    #QRcode{
        display:contents;
    }
    #QRcode img{
        margin-left:15%;
        margin-right:15%;
    }

    .footer{
        position:relative
    }
}

@media screen and (max-width:980px){

    #contactMe {
        margin-left: 0%;
        width: 100%;
    }

    #QRcode img {
        width: 600px;
        height: 600px;
        margin-left: calc(50% - 300px);
    }

    .contact-first-row {
        margin-top: 128px;
    }

    footer{
        display:grid;
        text-align:center;
        background-color:red;
    }

    .socialMediaIcons img{
        width:80px;
    }

    .wantMoreIcons img {
        width:80px;
        max-width:80px;
    }
}