#personnalLogo{
	width:25em;
	height:25em;
	margin-top:5%;
	margin-left:50%;
	margin-right:20em;
}

#imgHome{
	height: 100%;
	width: 100%;
}

#personnalText{
	width:65%;
	margin-left:18%;
	margin-top:1em;
}

#personnalText p{
	font-family: var(--custom-title-font), 'sans-serif';
	font-size:4em;
}

#personnalText span{
	color:#3AA76F;
}

#diveButton{
	background-color:black;
	width:20em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
#diveButton p{
	color:white;
	font-size:2em;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
	text-align:center;
	font-family:"roboto", sans-serif;
}


@media screen and (max-width:980px) {
	#personnalLogo {
		margin-top: calc(60% - 25em/2);
		margin-left:calc(50% - 25em/2);
	}

	#personnalText{
		text-align: center;
		width: 100%;
		margin-left: 0;
		margin-bottom: 64px;
	}

	#personnalText p {
		font-size: 6em;
	}	
}