.homepage-body {
	overflow: hidden;
}

#personnalLogo{
	width:25em;
	height:25em;
	margin-top:5%;
	margin-left:50%;
	margin-right:20em;
}

#imgHome{
	height: 100%;
	width: 100%;
}

#personnalText{
	width:80%;
	margin-left:14%;
	margin-top:1em;
}

#personnalText span{
	color:var(--custom-accent-color);
	font-weight: 700;
}

.span{
	color:var(--custom-accent-color);
	font-weight: 700;
}

#diveButton{
	background-color:black;
	width:230px;
	height:64px;
	margin-bottom: 64px;
	margin-top: 64px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

#diveButton p{
	color:white;
	font-size:1.4em;
	height: 64px;
	padding: 20px;
	text-align:center;
	font-family:"roboto", sans-serif;
}

@media screen and (max-width:1440px) and (max-height:900px) {
	#personnalLogo {
		width:16.5em;
		height:16.5em;
	}

	#personnalText p{
		font-size: 40px;
	}

	#divebutton {
		margin-bottom: 16px;
		margin-top: 16px;
	}
}

@media screen and (max-width: 1280px) {
	#personnalLogo{
		width:12.5em;
		height:12.5em;
	}

	#diveButton{
		width:15em;
		margin-bottom: 16px;
		margin-top: 16px;
	}

	#diveButton p{
		font-size:1.5em;
	}

}

@media screen and (max-width:980px) {
	#personnalLogo {
		width:25em;
		height:25em;
		margin-top: calc(60% - 25em/2);
		margin-left:calc(50% - 25em/2);
	}

	#personnalText{
		text-align: center;
		width: 100%;
		margin-left: 0;
		margin-bottom: 64px;
	}

	#diveButton{
		width:20em;
	}

	#diveButton p{
		font-size:2em;
		padding: 26px 20px;
	}
}