.lab-title {
  margin-top: 24px;
  margin-bottom: 24px;
}



.lab-img {
  /* margin-top: 40px; */
  object-fit: cover;
  aspect-ratio: 1/1;
}

.lab-img img{
  height: 261px;
  width: 261px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.mobile-numbers {
  font-size: 7em;
  display: none;
}
@media screen and (max-width: 980px) {
  .mobile-numbers {
      display: block;
  }

  .lab-title {
    font-size: var(--custom-h1-size);
    font-weight: var(--custom-h1-weight);
    color: var(--custom-h1-color);
  }

  .lab-img img{
    height: 320px;
    width: 320px;
  }

}