.lab-img {
  /* margin-top: 40px; */
  object-fit: cover;
  aspect-ratio: 1/1;
}

.lab-img img{
  height: 261px;
  width: 261px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.mobile-numbers {
  font-size: 7em;
  display: none;
}
@media screen and (max-width: 980px) {
  .mobile-numbers {
      display: block;
  }

  .lab-img img{
    height: 360px;
    width: 360px;
  }
}