body {
  background-image: var(--custom-background-image);
  background-color: var(--custom-background-color);
  background-repeat: var(--custom-background-repeat);
  background-position: var(--custom-background-position);
  background-attachment: var(--custom-background-attachment);
  background-size: var(--custom-background-size);
}

.project-intro {
  margin-bottom: 16px;
}

.tags-container p {
  padding: 0 0 0 16px;
  color: var(--custom-p-color);
  font-size: 0.9em;
  text-align: end;
  text-transform: uppercase;
}

.cover-projet img {
  width: 100%;
  aspect-ratio: 3/2;
}

.cover-row {
  margin-bottom:16px;
}

.imgProjet {
  width: 100%;
  aspect-ratio: 3/2;
}

.imgContentProjet{
  width: 75%;
  aspect-ratio: 1/1;
  object-fit: cover;
}