*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
    font-family:  Helvetica, sans-serif;
    background-image: var(--custom-background-image);
    background-color: var(--custom-background-color);
    background-repeat: var(--custom-background-repeat);
    background-position: var(--custom-background-position);
    /* overflow-x: hidden; */
}

/* .container {
    border: 1px cyan solid;
} */

body{
    padding-top:50px;
}

.header {
    height: 65px;
}

#titles{
    width: 60%;
    height: fit-content;
    /* border: 1px solid red; */

}

#titles h1{
    font-weight: bold;
}

.profilePicture img {
    width: 60px;
    border-radius: 60px;
    color: white;
}

.burgerMenu img {
    width: 60px;
}

@media screen and (max-width:980px){

    .header {
        height: 130px;
    }

    .profilePicture img {

        width: 120px;
        color: white;
    }

    .burgerMenu img {
        width: 120px;
    }
}

#scriptTester {
    height: 200px;
    width: 200px;
}