*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    font-family:  Helvetica, sans-serif;
    background-image: var(--custom-background-image);
    background-color: var(--custom-background-color);
    background-repeat: var(--custom-background-repeat);
    background-position: var(--custom-background-position);
    background-attachment: var(--custom-background-attachment);
    background-size: var(--custom-background-size);
    padding-top:50px;
    display:grid;
    /* grid-template-rows: 0fr 0fr 0fr 1fr;  */
    min-height:100vh;
    overflow-x: hidden;
    /* overflow-x: hidden; */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

h1,h2{
    font-family: var(--custom-title-font);
    background-color: var(--custom-background-color);
}
h1{
    font-size: var(--custom-h1-size);
    font-weight: var(--custom-h1-weight);
    color: var(--custom-h1-weight);
}
h2{
    font-size: var(--custom-h2-size);
    font-weight: var(--custom-h2-weight);
    color: var(--custom-h2-weight);
}


.no-scroll{
    overflow-x: hidden;
    overflow-y: hidden;
}

p{
    background-color: var(--custom-background-color);
    font-family: var(--custom-p-font);
    font-size: var(--custom-p-size);
<<<<<<< HEAD
    font-weight: var(--custom-p-weight);
    color: var( --custom-p-color);
=======
    margin-bottom: 0;
>>>>>>> main
}

.bg-transparent{
    background-color: transparent;
}

.header {
    height: 65px;
}

.profilePicture img {
    width: 60px;
    border-radius: 60px;
    color: white;
}

.burgerMenu {
    cursor: pointer;
}

.burgerMenu img {
    width: 40px;
}

.navmenu {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
} 

.navmenu .container-lg {
    padding-top: 50px;
}

.active-menu {
    display: block;
    background-color: var(--custom-background-color);
}

.footer {
    width: 100vw;
    height: 50px;
    position:relative;
    margin-left: calc(-50vw + 50%);
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.infos-container {
    width: 100%;
}

.socialMediasFooter a img {
    width: 30px;
    height: 30px;
}

.legalMentions, .credits {
    height: 100%;
}

.legalMentions p, .credits p{
    margin-bottom: 0;
    color: #fff;
}

.links-container {
    margin-top: 18px;
}
.menu-links {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
}

@media screen and (max-width:980px){

    body{
        display: block;
    }
    .header {
        height: 130px;
    }

    .profilePicture img {

        width: 120px;
        color: white;
    }

    .burgerMenu img {
        width: 80px;
    }
    
    .footer {
        height: 150px;
        font-size: 1.4em;
    }

    .socialMediasFooter a img {
        width: 50px;
        height: 50px;
    }
}