  <div class="filter-container">
    <div class="filters button-group js-radio-button-group device-type">
      
        <a href="">
          <button class="button is-checked">ALL</button>
        </a>
      </button>
      <% parsed_setting_desc.filters.forEach(tab => { %>
        <div style="margin-left: 4px;">
            <button class="button" data-value="<%- tab %>"><%- tab.toUpperCase() %></button>
        </div>
      <% }) %>

    </div>
  </div>

<style>
  .filter-container{
    margin-bottom: 64px;
  }
  .filters {
    margin-top: 40px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .filters button {
    padding: 10px 25px;
    margin: 5px 5px;
    background-color: #121212;
    border: none;
    border-radius: 10px;
    transition: 150ms;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    position: relative;
    outline: none;
    cursor: pointer;
  }
  .filters button a{
    text-decoration: none;
    color: #fff;
  }
  .filters button.is-checked {
    background-color: whitesmoke;
    color: #121212;
  }
  .filters button.is-checked a {
    color: inherit;
  }

  @media screen and (max-width:980px) {
    .filters button {
      padding: 24px 32px;
    }
    
  }
</style>

<%- include('./artworksFiltersScript.ejs'); %>