<div class="row">
    <div class="col-md-2  d-flex justify-content-end profilePicture">
        <a href="home"><img src="<%- userInfos.avatar_url %>"></a>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2 burgerMenu">
        <a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png"></a>
    </div>
</div>