<% isTextLeft = true;
    for(let i=0; i < parsed_about_desc.images.length; i++){ %>
        <div class="row about-rows d-flex flex-row justify-content-md-center">
            <% if(isTextLeft == true){ %>
                <div class="col-lg-2"></div>

                <div class="col-md-12 col-lg-4 d-flex flex-column justify-content-center align-items-start margin-bottom-32">
                    <div class="textProject"><%- parsed_about_desc.textes[i] %></div>
                </div>

                <div class="col-lg-1"></div>
                
                <div class="img-container col-md-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                    <img src="<%- parsed_about_desc.images[i] %>">
                </div>
                <div class="col-lg-2"></div>
            </div>
                <% isTextLeft = false;
            } else { %>
                <div class="col-lg-2 order-lg-1"></div>
                <div class="img-container order-md-2 order-lg-2 col-md-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                    <img src="<%- parsed_about_desc.images[i] %>">
                </div>
                    
                <div class="col-lg-1 order-lg-3"></div>
                
                <div class="order-md-1 order-lg-4 col-md-12 col-lg-4 d-flex flex-column justify-content-center align-items-lg-start margin-bottom-32">
                    <div class="textProject"><%- parsed_about_desc.textes[i] %></div>
                </div>
                <div class="col-lg-2 order-lg-5"></div>
            </div>
                <% isTextLeft = true; %>
            
            <% }} %>
        

        

<style>
.img-container{
    width: 213px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.img-container img{
    width: 213px;
    height: 213px;
    object-fit: cover;
}
.about-rows{
    margin-bottom: 64px;
}

@media screen and (max-width:980px){
    .img-container{
        width: 80%;
    }
    .img-container img{
        width: 100%;
        height: 100%;
    }
    .about-rows{
        padding: 0 80px;
    }
}
</style>