<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/homeHead'); %>
</head>
<body class="container col sm-12">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <div id="socialMedias">
        <%- include('../partials/socialMedia'); %>
    </div>

    <div> <h1>je suis la page about me</h1> </div>









    <footer class="footer col sm-12">
        <%- include('../partials/footer'); %>
    </footer>
